          
          <div class="news">
            <h2>News</h2>
            {% if site.news != blank -%} 
            <div class="table-responsive" id="news_short">
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%} 
              {% for item in news limit: site.news_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b, %Y"}}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
              <a onclick="javascript:showMoreNews()">[More]</a>
            </div>
            <div class="table-responsive" id="news_long">
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%} 
              {% for item in news %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b, %Y"}}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
              <a onclick="javascript:showLessNews()">[Less]</a>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
          <script>
            function showMoreNews() {
              document.querySelector("#news_short").style.display = 'none';
              document.querySelector("#news_long").style.display = 'block';
            }
            function showLessNews() {
              document.querySelector("#news_short").style.display = 'block';
              document.querySelector("#news_long").style.display = 'none';
            }
          </script>
