
<div class="projects small mb-4">
    <div class="grid">
        {%- for current_member in page.members -%}
            {%- for group_mems in site.data.team -%}
                {% for member in group_mems[1] %}
                    {% if current_member == member.name[0] %}
                        {%- assign member_id = member.name | join: '_' | downcase -%}
                        {%- assign member_homepage = "/team" | append: '#' | append: member_id -%}
                        {%- if member.homepage -%}{%- assign member_homepage = member.homepage -%}{%- endif -%}
                        <div class="grid-sizer"></div>
                        <div class="grid-item">
                            <a href="{{ member_homepage }}">
                            <div class="card hoverable">
                                {%- if member.photo %}
                                <div class="photo">
                                    {%- include figure.html
                                    path=member.photo
                                    alt=member.name -%}
                                </div>
                                {%- else -%}
                                <div class="photo">
                                    <figure>
                                        <picture>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
                                        </picture>
                                    </figure>
                                </div>
                                {%- endif %}
                                <div class="card-body">
                                <h5 class="card-title">{{ member.name | join : " " }}</h5>
                                <p class="card-text">{{ group_mems[0] }}</p>
                            </div>
                            </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {%- endfor %}
        {%- endfor %}
    </div>
    </div>