/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}


.team {
  .position {
    margin-bottom: 3em;
    h2 {
      margin-bottom: 0.5em;
    }
  }
  .card {
    scroll-margin-top: 80px;
    margin-bottom: 1.5em;
    .profile-image  {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      align-items: stretch;
      figure {
        flex-grow: 1;
        margin: 0;
      }
      img {
        flex-shrink: 0;
        min-width: 100%;
        object-fit: cover;
        min-height: 100%;
        
        @media screen and (min-width: 576px) {
          max-height: 240px;
        }
      }
    }
    .card-body a:hover {
      text-decoration: none;
    } 
    .card-text.main {
      margin-bottom: 0.5em;
    }
    .card-link {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}


// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
.projects {
  .grid-sizer, .grid-item {
    width: 300px !important;
  }
  
  .photo  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-items: stretch;
    background-color: #ffffff;

    figure {
      flex-grow: 1;
      margin: 0;
    }
    img {
      flex-shrink: 0;
      min-width: 100%;
      object-fit: cover;
      height: 200px;
    }
  }
  
  .card-body {
    height: 160px;
    overflow-y: visible;
  }
}

.projects.small {
  
  .grid-sizer, .grid-item {
    width: 200px !important;
  }
  .card-body {
    padding: 1rem;
    height: inherit;
    overflow-y: inherit;
  }
  .photo  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-items: stretch;

    figure {
      flex-grow: 1;
      margin: 0;
    }
    img {
      flex-shrink: 0;
      min-width: 100%;
      object-fit: cover;
      object-position: 50% 30%;
      height: 150px;
    }
  }
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.profile-buttons {
  a.btn {
    color: var(--global-text-color);
    border: 1px solid var(--global-text-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    &:hover {
      color: var(--global-theme-color);
      border-color: var(--global-theme-color);
    }
  }
}

.livenas {
  .two.buttons {
    display: flex;
    justify-content: space-evenly;
    a.button {
      font-weight: bold;
      color: var(--global-text-color);
      border: 1px solid var(--global-text-color);
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      &:hover {
        color: var(--global-theme-color);
        border-color: var(--global-theme-color);
      }
      &.green {
        color: var(--green);
        border: 1px solid var(--green);
        background: transparent !important;
      }
    }
  }
}

.main-image-1 {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 52%;
}

.cursor-pointer {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.bib-highlight {
  font-weight: bold;
  color: var(--red);
}


.publications {
  ol.bibliography li .abbr abbr.bib-tier-badge {
    background-color: var(--green);
  }

  abbr {
    margin-right: 8px;
  }

  
  .bib-tier {
    font-family: 'SF Mono', 'Consolas', 'Lucida Console','Andale Mono', 'Courier New',Courier,monospace;
    font-weight: bold;
    background-color: white;
    border: 1px solid #999;
    margin-right: 5px;
    padding: 3px;
    font-size: 90%;
    color: var(--red);
  }
}

.publications.inline {
  margin-top: 1em;
}

.bg-white {
  background-color: white!important;
}

.profile.small {
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media (min-width: 576px) {
  .profile.small {
    width: 20%;
    margin-top: -40px;
    img {
      width: 100%;
      margin: 0;
      display: block;
    }
  }
}